.hotelContainer {
  display: flex;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotelWrapper {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 0.625rem;
  right: 0;
  border: none;
  padding: 0.625rem 1.25rem;
  background-color: #0071c2;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.9rem;
  cursor: pointer;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelTitle {
  font-size: 3rem;
}

.hotelAddress {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}
.hotelPriceHighlight {
  color: #008009;
  font-weight: 500;
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
  font-size: 1.3rem;
  margin-top: 1.25rem;
}

.hotelDetailText {
  flex: 3;
}

.hotelDetailPrice {
  flex: 1;
  padding: 1.25rem;
  background-color: #ebf3ff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hotelDesc {
  font-size: 1.3rem;
  margin-top: 1.2rem;
}
.hotelDetailPrice > h1 {
  font-size: 1.4rem;
  color: #555;
}

.hotelDetailPrice > span {
  font-size: 1.2rem;
}
.hotelDetailPrice > h2 {
  font-weight: 300;
}
.hotelDetailPrice > button {
  border: none;
  padding: 0.625rem 1.25rem;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4312);
  z-index: 999;
  display: flex;
  align-items: center;
}
.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 80px;
  font-size: 60px;
  color: #d3d3d3d3;
  cursor: pointer;
}

.arrow {
  margin: 20px;
  font-size: 60px;
  color: #d3d3d3d3;
  cursor: pointer;
  outline: none;
}
