.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButtons {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  color: #003580;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 0.8s ease-in n0.5s;
}

.navButtons:hover {
  color: #fff;
  background-color: #0000;
}
